<template name= "formbadCostumer">           
                
                    <div class="panel panel-danger">
                        <div class="panel-heading text-center">
                            Add Bastard here!
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                      <form id = "form" role="form">
                                        <div class="form-group has-error panel-body panel panel-back noti-box panel-danger ">
                                            <label class="control-label" for="inputError">Name</label>
                                            <input type="text" class="form-control" name="CostumerName">
                                        </div>
                                        <div class="form-group has-error panel-body panel panel-back noti-box panel-danger">
                                            <label class="control-label" for="inputError">Adress</label>
                                            <input type="text" class="form-control" name="CostumerAdress">
                                        </div>
                                           <div class="form-group has-error panel-body panel panel-back noti-box panel-danger">
                                            <label class="control-label" for="inputError">Any Observation about him...</label>
                                            <textarea class="form-control" rows="3" name = "CostumerObservation"></textarea>
                                            </div>
 <input type="submit" class="navbar-toggle btn btn-danger pull-left" id = "send" value = "Submit">
                                            </form>
                                            </div>

                                            </div>
                                            </div>

                                            </div>
                                            
                                            
                                           

                                        
                                        
                                            
</template>
