<template name="footer1">
	
                    <div class="col-sm-6 col-xs-6">           
			<div class="panel panel-back noti-box panel-danger">
                <span class="icon-box bg-color set-icon">
                    <i class="fa fa-bars "></i>
                </span>
                <div class="text-box " >
                    <p> <label class="main-text " id="Fee" for="exemplo">{{totalFee}}</label>  </p>
                    <p class="text-muted text-center "> <strong> Fees</strong></p>

                </div>
             </div>
		     </div>
                    

                <div class="col-md-3 col-sm-6 col-xs-6 ">                        
			 <div class="panel panel-back noti-box panel-danger ">
                <span class="icon-box bg-color-white set-icon ">
                    <i class="fa fa-envelope-o "  ></i>
                </span>
                <div class="text-box " >
                    <p> <label class="main-text" id="Total" for="exemplo">{{cashOut}}</label>  </p>                                   
 				
                    <p class="text-danger text-center "> <strong> Total Cash Out</strong> </p>
                </div>
             </div>
		     </div>         
                                    
                       <div class="col-sm-12 col-xs-12">
  <div class="panel panel-primary text-center no-boder bg-color-green">
                        
                        
                    </div>
                    </div>
                    


	
</template>