 <template name ="footer3">

 	<div class="" role="navigation" style="margin-bottom: 0">
                                
                <a type="button" id="days-box" href="{{pathFor 'otherDays'}}" class="navbar-toggle btn btn-danger pull-center" >See Other Days</a> 

                <a type="button" href="{{pathFor 'formbadCostumer'}}" class="navbar-toggle btn btn-danger pull-center" id="badCostumer">Add Bastards </a>

                 <a type="button" id="remove-box" class="navbar-toggle btn btn-danger pull-left">Remove Order </a>
 		</div>
 </template>
 