<template name="header">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle btn btn-danger pull-left" data-toggle="collapse" data-target=".sidebar-collapse">
                    {{> loginButtons}}
                </button>
                
                <a type="button" class="navbar-toggle btn btn-danger pull-right" href="{{pathFor 'principal'}}">Home</a> 

                <a type="button" href="{{pathFor 'badCostumer'}}" class="navbar-toggle btn btn-danger pull-right" id="badCostumer"> Check Bad Costumer</a>
            </div>

            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                
            </ul>
            </div>
  <div style="color: white;

float: center;
font-size: 6px;">  &nbsp;  </div>
        </nav>                      
        
                               
                         
    
</template>