<template name="ccck">

<div class="col-sm-6 col-xs-6">           
            <div class="panel panel-back noti-box panel-danger">
                <span class="icon-box bg-color set-icon">
                    <i class="fa fa-rocket"></i>
                </span>
                <div class="text-box" id="ccck-box" >
                    <p> <label class="main-text" id="ccck-label" for="exemplo" type="number">{{totalccckValue}}</label>  </p>
                    <p class="text-muted text-center"><strong> Add - Tips</strong></p>
                </div>
             </div>
</div>   


</template>
